.popup__job-input {
    width: 100%;
    margin-top: 27px;
    font-size: 14px;
    line-height: calc(17/14);
    border: 0;
    outline: none;
    height: 27px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}