.header__logo {
    background-image: url(../../../images/Vector.svg);
    width: 142.01px;
    height: 33.4px;
    background-color: black;
    background-size: cover;
}

@media screen and (max-width: 700px) {
    .header__logo {
        margin-left: 8px;
        width: 103.74px;
        height: 24.4px;
    }
}