.header__logo {
    background-image: url(../../../images/Vector.svg);
    width: 143px;
    height: 34px;
    background-color: black;
    background-size: contain;
}

@media screen and (max-width: 650px) {
    .header__logo {
        margin-left: 8px;
        width: 104px;
        height: 25px;
    }
}