.elements {
    max-width: 882px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    padding-left: 19px;
    padding-right: 19px;
}