.popup__close {
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    transition: all .1s ease;
}

.popup__close:hover {
    opacity: .6;
}

@media screen and (max-width: 520px) {
    .popup__close {
        right: -14px;
        top: -55px;
    }
}