.card__title {
    background-color: white;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 24px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}