.popup__save {
    width: 100%;
    font-size: 18px;
    line-height: calc(22/18);
    height: 50.15px;
    margin-top: 26px;
    outline: none;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 2px;
    cursor: pointer;
}

.popup__save:hover {
    background-color: rgba(0, 0, 0, .8);
}